<ui-header></ui-header>
<!-- Begin page content -->
<main role="main" class="container">
    <div style="margin-top:10%;">
        <!-- 
            1. The <router-outlet> tells the router where to display routed views. 
            2. The RouterOutlet is one of the router directives that became available to the AppComponent 
               because AppModule imports AppRoutingModule which exported RouterModule.
        -->
        <router-outlet></router-outlet>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">© Company 2019</span>
    </div>
</footer>