<div class="card">
	<div class="card-header">
		<h4><a target="_blank" href="{{artist?.artistLinkUrl}}">{{artist?.artistName}}</a></h4>
		<span class="tag tagdefault">{{artist?.primaryGenreName}}</span>
	</div>
	<div class="card-body">
		<nav class="nav nav-pills nav-justified">
			<a class="nav-link" routerLinkActive="active" routerLink="tracks">Tracks
			</a>
			<a class="nav-link" routerLinkActive="active" routerLink="albums">Albums
			</a>
			<a class="nav-link" routerLinkActive="active" routerLink="back">Back
			</a>
		</nav>
	</div>
</div>
<router-outlet>
</router-outlet>