<ngdatagrid
	[totalItems]="totalItems"
	[maxSize]="10"
	[itemsPerPage]="request.take"
	[records]="mappedWines"
	[headers]="headers"
	[enableAdd]="true"
	[enableEdit]="true"
	[enableDelete]="true"
	[loading]="refreshing"
	[blinkRowOnSelect]="blinkrow"
	(onPageChange)="pageChanged($event)"
	(onPageSizeChange)="updatePageSize($event)"
	(onSearch)="search($event)"
	(onSort)="sort($event)"
	(onFilter)="filterRecord($event)"
	(onReset)="resetAll()"
	(onAdd)="openModal(ViewTemplate, 0)"
	(onView)="openModal(ViewTemplate, 1, $event)"
	(onEdit)="openModal(EditTemplate, 2, $event)"
	(onDelete)="openModal(DeleteTemplate, 3, $event)">
</ngdatagrid>

<!-- previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" -->
<ng-template #ViewTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Description</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		{{selectedDescription}}
	</div>
</ng-template>

<ng-template #EditTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Edit</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ngmodelform [formFields]="modelFormFields" (onSubmit)="onFormSubmit($event)"
			[reset]="resetForm"></ngmodelform>
	</div>
</ng-template>

<ng-template #DeleteTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Delete</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		Delete <b>{{selectedDescription}}</b>?
	</div>
</ng-template>
​
