<div class="container">
  <tabset>
    <tab heading="Provider Types" id="tab1">
      <div class="card card-body">
        <div class="row">
          <div class="col-5">
            <!-- <parent>
                    <child></child>
                  </parent> -->
            <parent></parent>
          </div>
          <div class="col-5">
            <!-- <parent>
                    <child></child>
                  </parent> -->
            <parent></parent>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Http">
      <div class="card card-body">
        <div class="row mx-md-n5">
          <div class="col py-3 px-md-5 bordered">
            <button class="btn btn-primary" (click)="doGET()">GET</button>
            &nbsp;
            <button class="btn btn-primary" (click)="doPOST()">POST</button>
            &nbsp;
            <button class="btn btn-primary" (click)="doPUT()">PUT</button>
            &nbsp;
            <button class="btn btn-primary" (click)="doDELETE()">DELETE</button>
          </div>
        </div>
        <div class="row mx-md-n5">
          <div class="col py-3 px-md-5 bordered">
            <button class="btn btn-secondary" (click)="doGETAsPromise()">As Promise</button>
            &nbsp;
            <button class="btn btn-secondary" (click)="doGETAsPromiseError()">Error as
              Promise</button>
            &nbsp;
            <button class="btn btn-secondary" (click)="doGETAsObservableError()">Error as
              Observable</button>
          </div>
        </div>
        <div class="row mx-md-n5">
          <div class="col py-3 px-md-5 bordered">
            <button class="btn btn-danger" (click)="doGETWithHeaders()">With Headers</button>
          </div>
        </div>
        <div class="card-text">
          <pre>{{response | json}}</pre>
        </div>
      </div>
    </tab>
  </tabset>
</div>