<div>
  <tabset>
    <tab heading="Routing" id="tab1">
      <div class="card card-body">
        <ul>
          <li>
            <button type="button" class="btn btn-link" (click)="goJokes()">Jokes</button>
          </li>
          <li>
            <button type="button" class="btn btn-link" (click)="goJokesbyparams('xyz')">Jokes (By xyz)</button>
          </li>
          <li>
            <button type="button" class="btn btn-link" (click)="goForms()">Forms</button>
          </li>
          <li>
            <button type="button" class="btn btn-link" (click)="goUnknow()">Anywhere (Default match is jokes)</button>
          </li>
          <li>
            <button type="button" class="btn btn-link" [routerLink]="['forms']">RouterLink(Appends in Url)</button>
            <code>
              [routerLink]="['forms']"
            </code>
          </li>
          <li>
            <button type="button" class="btn btn-link" [routerLink]="['/forms']">RouterLink(Replace URL)</button>
            <code>
              [routerLink]="['/forms']"
            </code>
          </li>
          <li>
            <button type="button" class="btn btn-link" [routerLink]="['/forms']" [queryParams]="{debug: true}">Router
              RouterLink(Appned Query Params)</button>
            <code>
                [routerLink]="['/forms']" [queryParams]="&#123;debug: true&#125;"
            </code>
          </li>
          <li>
            <button type="button" class="btn btn-link" [routerLink]="['/forms']" [queryParams]="{debug: true}" fragment="education">Router
              RouterLink(Preserve fragment)</button>
            <code>
                  [routerLink]="['/forms']" [queryParams]="&#123;debug: true&#125;" fragment="education"
              </code>
          </li>
          <li>
            <button type="button" class="btn btn-link" [routerLink]="['/forms']" [state]="{tracingId: 123}">RouterLink(History.state)</button>
            <code>
                [state]="&#123;tracingId: 123&#125;"
            </code>
          </li>
        </ul>
      </div>
    </tab>
    <tab heading="NgFor" id="tab1">
      <div class="card card-body">
        <!-- 
        NgFor is a structural directive, meaning that it changes the structure of the DOM. 
        This directive is the successor of Angular 1s ng-repeat directive. 
        -->
        <ul *ngFor="let person of people;let i=index;">
          <!-- NgIf directive removes the li element from the DOM if person.age is greater than 30. -->
          <li *ngIf="person.age > 30">
            {{ person.name }}
          </li>
        </ul>
        <h6>NgFor Grouping</h6>
        <ul *ngFor="let group of peopleByCountry">
          <li>{{ group.country }}</li>
          <ul *ngFor="let person of group.people">
            <li>{{ person.name }}</li>
          </ul>
        </ul>
      </div>
    </tab>
    <tab heading="NgSwitch">
      <div class="card card-body">
        <!-- This directive allows us to render different elements depending on a given condition, in fact the
        NgSwitch directive is actually a number of directives working in conjunction 
        -->
        <ul *ngFor="let person of people" [ngSwitch]="person.country">
          <li *ngSwitchCase="'UK'" class="text-success">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchCase="'USA'" class="text-primary">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchCase="'HK'" class="text-danger">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchDefault class="text-warning">{{ person.name }} ({{ person.country }})
          </li>
        </ul>
      </div>
    </tab>
    <tab heading="NgStyle & NgClass">
      <div class="card card-body">
        <h6>NgStyle</h6>
        <ul *ngFor="let person of people">
          <li [ngStyle]="{'background-color':getColor(person.country)}"> {{ person.name }} ({{
            person.country }})
          </li>
        </ul>

        <h6>NgClass</h6>
        <ul *ngFor="let person of people">
          <li [ngClass]="{
          'text-success':person.country === 'UK',
          'text-primary':person.country === 'USA',
          'text-danger':person.country === 'HK'
          }">
            {{ person.name }} ({{ person.country }})
          </li>
        </ul>
        <!-- 
         Alternate Approach 
        <ul *ngFor="let person of people">
          <li [class.text-success]="person.country === 'UK'" [class.text-primary]="person.country === 'USA'"
            [class.text-danger]="person.country === 'HK'">{{ person.name }} ({{
            person.country }})
          </li>
        </ul> 
        -->
      </div>
    </tab>
    <tab heading="Pipe">
      <!-- Pipes are used to transform data, when we only need that data transformed in a template -->
      `<div class="card card-body">
        <h4 class="card-title">Currency</h4>
        <div>
          <p ngNonBindable>{{ 1234.56 | currency:'CAD' }}</p>
          <p>{{ 1234.56 | currency:"CAD" }}</p>
          <p ngNonBindable>{{ 1234.56 | currency:'CAD':'code' }}</p>
          <p>{{ 1234.56 | currency:'CAD':'code'}}</p>
          <p ngNonBindable>{{ 1234.56 | currency:'CAD':'symbol' }}</p>
          <p>{{ 1234.56 | currency:'CAD':'symbol'}}</p>
          <p ngNonBindable>{{ 1234.56 | currency:'CAD':'symbol-narrow' }}</p>
          <p>{{ 1234.56 | currency:'CAD':'symbol-narrow'}}</p>
        </div>
      </div>
      <div class="card card-body">
        <h4 class="card-title">Date</h4>
        <div>
          <p ngNonBindable>{{ dateVal | date: 'shortTime' }}</p>
          <p>{{ dateVal | date: 'shortTime' }}</p>
          <p ngNonBindable>{{ dateVal | date:'fullDate' }}</p>
          <p>{{ dateVal | date: 'fullDate' }}</p>
          <p ngNonBindable>{{ dateVal | date: 'shortTime' }}</p>
          <p>{{ dateVal | date: 'shortTime' }}</p>
          <p ngNonBindable>{{ dateVal | date: 'd/M/y' }}</p>
          <p>{{ dateVal | date: 'd/M/y' }}</p>
        </div>
      </div>
      <div class="card card-body">
        <div>
          <h4 class="card-title">DecimalPipe</h4>
          <p ngNonBindable>{{ 3.14159265 | number: '3.1-2' }}</p>
          <p>{{ 3.14159265 | number: '3.1-2' }}</p>
          <p ngNonBindable>{{ 3.14159265 | number: '1.4-4' }}</p>
          <p>{{ 3.14159265 | number: '1.4-4' }}</p>
        </div>
      </div>
      <div class="card card-body">
        <h4 class="card-title">JsonPipe</h4>
        <div>
          <p ngNonBindable>{{ jsonVal }}</p>
          <p>{{ jsonVal }}</p>
          <p ngNonBindable>{{ jsonVal | json }}</p>
          <p>{{ jsonVal | json }}</p>
        </div>
      </div>
      <div class="card card-body">
        <h4 class="card-title">LowerCasePipe</h4>
        <div>
          <p ngNonBindable>{{ 'NIK' | lowercase }}</p>
          <p>{{ 'NIK' | lowercase }}</p>
        </div>
      </div>
      <div class="card card-body">
        <h4 class="card-title">UpperCasePipe</h4>
        <div>
          <p ngNonBindable>{{ 'nik' | uppercase }}</p>
          <p>{{ 'nik' | uppercase }}</p>
        </div>
      </div>
      <div class="card card-body">
        <h4 class="card-title">PercentPipe</h4>
        <div>
          <p ngNonBindable>{{ 0.123456 | percent }}</p>
          <p>{{ 0.123456 | percent }}</p>
          <p ngNonBindable>{{ 0.123456 | percent: '2.1-2' }}</p>
          <p>{{ 0.123456 | percent: '2.1-2' }}</p>
          <p ngNonBindable>{{ 123456 | percent: '10.4-4' }}</p>
          <p>{{ 0.123456 | percent : "10.4-4" }}</p>
        </div>
      </div>
      <div class="card card-body">
        <!-- This returns a slice of an array. The first argument is the start index of the slice and the second
          argument is the end index. -->
        <h4 class="card-title">SlicePipe</h4>
        <div>
          <p ngNonBindable>{{ [1,2,3,4,5,6] | slice:1:3 }}</p>
          <p>{{ [1,2,3,4,5,6] | slice:1:3 }}</p>
          <p ngNonBindable>{{ [1,2,3,4,5,6] | slice:2 }}</p>
          <p>{{ [1,2,3,4,5,6] | slice:2 }}</p>
          <p ngNonBindable>{{ [1,2,3,4,5,6] | slice:2:-1 }}</p>
          <p>{{ [1,2,3,4,5,6] | slice:2:-1 }}</p>
          <pre ngNonBindable>
    &lt;ul&gt;
    &lt;li *ngFor=&quot;let v of [1,2,3,4,5,6] | slice:2:-1&quot;&gt;
    {{v}}
    &lt;/li&gt;
    &lt;/ul&gt;
          </pre>
          <ul>
            <li *ngFor="let v of [1,2,3,4,5,6] | slice:2:-1">
              {{v}}
            </li>
          </ul>
        </div>
      </div>
      <div class="card card-body">
        <!-- With AsyncPipe we can use promises and observables directly in our template, without having to
        store the result on an intermediate property or variable -->
        <h4 class="card-title">Async Pipe</h4>
        <div>
          <p ngNonBindable>{{ promise | async }} </p>
          <p>{{ promise | async }} </p>

          <p ngNonBindable>{{ observable | async }} </p>
          <p>{{ observable | async }}</p>
        </div>
      </div>
      <div class="card card-body">
        <!-- With AsyncPipe we can use promises and observables directly in our template, without having to
          store the result on an intermediate property or variable -->
        <h4 class="card-title">Custom Pipe</h4>
        <div>
          <p ngNonBindable>src="{{ imageUrl | default:'./assets/default.gif' }}"</p>
          <p><img src="{{ imageUrl | default:'./assets/default.gif' }}" /></p>
        </div>
      </div>
    </tab>
    <tab heading="x">
      <div class="card card-body"></div>
    </tab>
  </tabset>
</div>