<!-- 
  > So just by adding FormsModule to our NgModule imports our template form is already associated wth
  an instance of the NgForm directive.
  > This instance of ngForm is hidden but we can expose it with a local template reference variable
  attached to the form element 
  > In template driven forms we need Angular to create the model form controls for us for each
  template form control.To do that we need to do two things to each template form control:

    1. Add the NgModel directive ([(ngModel)]="model.firstName")

    2. Add the name attribute. (name="firstName")
      is equivalent to:
        let model = new FormGroup({
            "foo": new FormControl()
        });

    4. The [(ngModel)]="model.firstName" syntax is a combination of the syntax for input property binding [] and output 
       event binding (). Shorter version of
       <input ... [ngModel]="model.firstName" (ngModelChange)="model.firstName = $event" >

    3. Writing shorter validation expressions > We can get access to the instance of our ngModel directive by using a 
      local template reference (#firstName="ngModel")
-->
<form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
	<fieldset ngModelGroup="name">
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" required
				#firstName="ngModel" [ngClass]="{
          'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched),
          'is-valid': firstName.valid && (firstName.dirty || firstName.touched)
          }">
			<div class="invalid-feedback">
				<p *ngIf="firstName.errors?.required">First name is required</p>
			</div>
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" required #lastName="ngModel"
				[ngClass]="{
        'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched),
        'is-valid': lastName.valid && (lastName.dirty || lastName.touched)
        }">
			<div class="invalid-feedback">
				<p *ngIf="lastName.errors?.required">Last name is required</p>
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<label>Email</label>
		<input type="email" class="form-control" name="email" [(ngModel)]="model.email" required pattern="[^ @]*@[^ @]*"
			#email="ngModel" [ngClass]="{
        'is-invalid': email.invalid && (email.dirty || email.touched),
        'is-valid': email.valid && (email.dirty || email.touched)
        }">
		<div class="invalid-feedback">
			<p *ngIf="email.errors?.required">Email is required</p>
			<p *ngIf="email.errors?.pattern">Email must contain at least the @
				character</p>
		</div>
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" name="password" [(ngModel)]="model.password" required minlength="8"
			#password="ngModel" [ngClass]="{
        'is-invalid': password.invalid && (password.dirty || password.touched),
        'is-valid': password.valid && (password.dirty || password.touched)
        }">
		<div class="invalid-feedback">
			<p *ngIf="password.errors?.required">Password is required</p>
			<p *ngIf="password.errors?.minlength">Password must be at least 8
				characters long</p>
		</div>
	</div>
	<div class="form-group">
		<label>Language</label>
		<select class="form-control" name="language" [(ngModel)]="model.language">
			<option value="">Please select a language</option>
			<option *ngFor="let lang of langs" [value]="lang">{{lang}}
			</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit
	</button>
	<pre>{{f.value | json}}</pre>
</form>
